<section class="py-5">
  <div class="container">
    <h1 class="mat-display-1" style="color: #ffdc04">Regulamento parcão</h1>
    <h2 class="mat-h2">
      O Recife Outlet recebe você e seu pet com o maior prazer e para que esse
      momento seja com toda segurança, confira algumas regrinhas.
    </h2>
    <ol>
      <li>O espaço é de uso coletivo e exclusivamente canino;</li>
      <li>
        Não é permitido deixar o cão sozinho dentro do Parcão Recife Outlet.
        Permaneça sempre ao lado do seu animal. Você é o único responsável pelo
        seu cachorro e pelos atos dele enquanto estiver dentro do espaço,
        inclusive eventuais danos a outros animais, pessoas ou ao Parcão;
      </li>
      <li>
        Mantenha o portão sempre fechado para a segurança do seu pet e dos
        demais. Ao entrar e sair, esteja atento para que nenhum cão saia no
        momento;
      </li>
      <li>
        Não é permitida a entrada de cães doentes no Parcão. Todos os cães devem
        estar vacinados, vermifugados e com controle de pulgas e carrapatos em
        dia;
      </li>
      <li>
        Não é permitida a entrada de cães fêmeas no cio e cães bravos. Caso o
        seu cão não seja bravo, mas você tenha dúvidas sobre o seu comportamento
        junto aos outros animais, mantenha-o sempre na guia com focinheira,
        evitando problemas;
      </li>
      <li>
        As atividades de agilidade são liberadas para todos os cães, desde que
        as suas condições de saúde permitam. Respeite o limite do seu animal;
      </li>
      <li>
        Não é permitida a entrada de algumas raças, mesmo que estejam utilizando
        focinheira. Raças não permitidas: Akita, American Pit Bull Terrier,
        American Staffordshire Terrier, Dobermann, Dogo Argentino, Fila
        Brasileiro, Pastor-Alemão, Pastor Belga-Malinois, Rottweiller e Bull
        Terrier e derivações.
      </li>
      <li>
        Brinquedos não são recomendados a cães com predisposição ou portadores
        de doenças articulares (artrite, artrose, etc) e problemas de coluna.
        Não recomendado a cães obesos ou acima do peso.
      </li>
      <li>
        Cães cardiopatas ou com distúrbios cardiorrespiratórios e
        braquiocefálicos, bem como cães com discopatias, artrose, artrite e
        predisposições a problemas ortopédicos, devem ter a liberação de médico
        veterinário responsável pela saúde do animal, além de controle do tempo
        e natureza da atividade física.
      </li>
      <li>
        Utilize os dispensers com sacos plásticos disponíveis no local para
        recolher as fezes de seu animal e assim contribuir para manter o espaço
        sempre limpo.
      </li>
      <li>
        Para manter a ordem, a tranquilidade e o bom relacionamento entre os
        animais no espaço, o frequentador que não respeitar as normas acima
        poderá ser convidado a se retirar do Parcão Recife Outlet com o seu
        animal.
      </li>
      <li>É proibido o consumo de alimentos e bebidas no ParCão.</li>
    </ol>
    <p>
      Aproveite esse maravilhoso passeio no Recife Outlet juntinho do seu Pet.
    </p>
  </div>
</section>
