<section>
  <div class="container my-5 p-md-5">
    <div class="row">
      <div class="col-md-6 order-2 order-md-1 mt-3 mt-md-0">
        <h1>O Empreendimento</h1>
        <p>
          Pensado em seus mínimos detalhes para facilitar ao máximo a vida de
          lojistas e consumidores, o Recife Outlet está sendo construído em
          nível térreo, num amplo terreno às margens da Rodovia BR-232, ao lado
          dos condomínios de Alphaville, a apenas 14 km da Arena Pernambuco, 18
          km do centro histórico do Recife e a 24 km da Praia de Boa Viagem, no
          principal eixo econômico do Estado, que liga a capital à região de
          Caruaru, um dos mais importantes polos econômico, hospitalar,
          acadêmico, turístico e cultural do Agreste Nordestino.
        </p>
        <p>
          Com uma ABL de 11.000 m², que poderá ser facilmente duplicada em caso
          de demanda, o Recife Outlet terá inicialmente 72 operações de moda e
          alimentação, estacionamento com 814 vagas para carro, 84 motos e 10
          ônibus e praça de alimentação climatizada.
        </p>
        <p>
          O projeto de construção em nível térreo proporcionará baixo custo
          operacional para os lojistas, com layout no formato “village”, que
          privilegia a concentração do fluxo de consumidores em um único
          corredor central acessível pelos compradores vindos dos bolsões de
          estacionamento ao redor do empreendimento. Sendo assim, todas as lojas
          terão ótima localização e serão visíveis de diversos pontos do
          empreendimento.
        </p>
      </div>
      <div class="col-md-6 pt-3 pt-md-5 order-1 order-md-2">
        <img
          src="assets/empreendimento.png"
          alt="Empreendimento"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <a
        routerLink="/noticias/pernambuco-vai-ganhar-outlet-de-r-60-milhoes-nos-moldes-dos-de-miami"
        title="Pernambuco vai ganhar outlet de R$ 60 milhões nos moldes dos de Miami"
        class="card h-100"
      >
        <img src="../../assets/card-rec.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h2 class="card-title">Recife: um dos maiores PIBs do Nordeste</h2>
          <p class="card-text">
            A Região Metropolitana do Recife conta com mais de 4 milhões de
            habitantes e é composta por 15 municípios, dos quais se destacam
            Jaboatão
          </p>
        </div>
      </a>
    </div>
    <div class="col">
      <a
        routerLink="/noticias/investimento-de-r-60-milhoes-em-outlet-em-pernambuco"
        title="Investimento de R$ 60 milhões em outlet em Pernambuco"
        class="card h-100"
      >
        <img
          src="../../assets/card-recOutlet.png"
          class="card-img-top"
          alt="Recife Outlet vista de cima"
        />
        <div class="card-body">
          <h2 class="card-title">
            Primeiro outlet de Pernambuco, às margens da BR-232, vai gerar 2 mil
            empregos diretos
          </h2>
          <p class="card-text">
            O empreendimento do Grupo BCI, o Recife Outlet custará R$ 60
            milhões. Inauguração do mall, prevista para setembro de 2020,
            estimulará turismo de compras e de negócios no Agreste.
          </p>
        </div>
      </a>
    </div>
    <div class="col">
      <a
        routerLink="/noticias/pernambuco-vai-ganhar-outlet-de-r-60-milhoes-nos-moldes-dos-de-miami"
        title="Pernambuco vai ganhar outlet de R$ 60 milhões nos moldes dos de Miami"
        class="card h-100"
      >
        <img
          src="../../assets/card-praia.png"
          class="card-img-top"
          alt="Praia"
        />
        <div class="card-body">
          <h2 class="card-title">
            Investimento de R$ 60 milhões em outlet em Pernambuco
          </h2>
          <p class="card-text">
            Pernambuco terá o seu primeiro outlet a partir do próximo ano, às
            margens da BR-232, a 20 quilômetros de distância do Marco Zero, que
            fica no Centro da capital pernambucana.
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
