<section>
  <div class="container my-5 p-md-5">
    <div class="row">
      <div class="col-md-6 order-2 order-md-1 mt-3 mt-md-0">
        <h1>O Empreendimento</h1>
        <p>
          Projeto pioneiro na região, o Recife Outlet se localiza às margens da
          BR-232, espinha dorsal no desenvolvimento de Pernambuco e estados
          vizinhos, via que recebe diariamente em torno de 60 mil veículos. O
          Outlet está ao lado do condomínio Alphaville e a apenas 12 minutos da
          Arena Pernambuco.
        </p>
        <p>
          Projetado no conceito “village”, com todas as lojas no nível térreo, o
          Outlet Recife proporciona um baixo custo operacional para os lojistas
          Além disso, o formato open mall, com iluminação e ventilação natural,
          favorece a ampla circulação dos clientes, com total segurança no
          distanciamento entre as pessoas.
        </p>
        <p>
          A primeira fase do empreendimento está consolidada com 70 operações,
          com Área Bruta Locável (ABL) de 13.600 mil m². São marcas
          diferenciadas como Diesel, Guess, Levis, Tommy Hilfiger, Calvin Klein,
          Kipling, Aramis, Crocs, Hering, loja de vinhos, diversas opções de
          alimentação e um showroom da Shineray Motos.
        </p>
      </div>
      <div class="col-md-6 pt-3 pt-md-5 order-1 order-md-2">
        <img
          src="assets/empreendimento.png"
          alt="Empreendimento"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <a
        routerLink="/noticias/pernambuco-vai-ganhar-outlet-de-r-60-milhoes-nos-moldes-dos-de-miami"
        title="Pernambuco vai ganhar outlet de R$ 60 milhões nos moldes dos de Miami"
        class="card h-100"
      >
        <img src="../../assets/card-rec.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h2 class="card-title">Recife: um dos maiores PIBs do Nordeste</h2>
          <p class="card-text">
            A Região Metropolitana do Recife conta com mais de 4 milhões de
            habitantes e é composta por 15 municípios, dos quais se destacam
            Jaboatão
          </p>
        </div>
      </a>
    </div>
    <div class="col">
      <a
        routerLink="/noticias/investimento-de-r-60-milhoes-em-outlet-em-pernambuco"
        title="Investimento de R$ 60 milhões em outlet em Pernambuco"
        class="card h-100"
      >
        <img
          src="../../assets/card-recOutlet.png"
          class="card-img-top"
          alt="Recife Outlet vista de cima"
        />
        <div class="card-body">
          <h2 class="card-title">
            Primeiro outlet de Pernambuco, às margens da BR-232, vai gerar 2 mil
            empregos diretos
          </h2>
          <p class="card-text">
            O empreendimento do Grupo BCI, o Recife Outlet custará R$ 60
            milhões. Inauguração do mall, prevista para setembro de 2020,
            estimulará turismo de compras e de negócios no Agreste.
          </p>
        </div>
      </a>
    </div>
    <div class="col">
      <a
        routerLink="/noticias/pernambuco-vai-ganhar-outlet-de-r-60-milhoes-nos-moldes-dos-de-miami"
        title="Pernambuco vai ganhar outlet de R$ 60 milhões nos moldes dos de Miami"
        class="card h-100"
      >
        <img
          src="../../assets/card-praia.png"
          class="card-img-top"
          alt="Praia"
        />
        <div class="card-body">
          <h2 class="card-title">
            Investimento de R$ 60 milhões em outlet em Pernambuco
          </h2>
          <p class="card-text">
            Pernambuco terá o seu primeiro outlet a partir do próximo ano, às
            margens da BR-232, a 20 quilômetros de distância do Marco Zero, que
            fica no Centro da capital pernambucana.
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
