nav {
  box-shadow: 0px 0px 22px -10px rgb(0 0 0 / 50%);
}
.container > a.navbar-brand {
  display: block;
}
#navbarToggler > a.navbar-brand {
  display: none;
}
a.pet {
  color: #1eb860;
  text-decoration: none;
  .fas {
    color: #1eb860;
  }
}
a.pet:hover {
  text-decoration: underline;
}
.fab,
.fas {
  font-size: 1.62em;
  color: #143047;
}
.nav-item {
  a {
    color: #34568b;
  }
  a.activebutton {
    color: #ffbd00;
    border-bottom: 2px solid #ffbd00;
  }
}

@media (min-width: 768px) {
  .container > a.navbar-brand {
    display: none;
  }
  #navbarToggler > a.navbar-brand {
    display: block;
  }
}
