<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/logo.png" alt="" width="50%" height="50%" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggler"
      aria-controls="navbarToggler"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <a class="navbar-brand" routerLink="/">
        <img src="assets/logo.png" alt="" width="99" height="105" />
      </a>
      <p class="ms-md-3 mt-3 mt-md-5 me-auto" style="color: #7a7a7a">
        AQUI O DESCONTO NUNCA <br />SAI DE MODA
      </p>
      <ul class="navbar-nav d-flex mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/mapa-lojas"
            routerLinkActive="activebutton"
            (click)="fecha()"
            >LOJAS</a
          >
        </li>
        <!-- <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/privilege-club"
            routerLinkActive="activebutton"
            >PRIVILEGE CLUB</a
          >
        </li> -->
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/sobre"
            routerLinkActive="activebutton"
            (click)="fecha()"
            >SOBRE</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/contato"
            routerLinkActive="activebutton"
            (click)="fecha()"
            >CONTATO</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<div class="container">
  <footer
    class="
      d-flex
      flex-wrap
      justify-content-between
      align-items-center
      py-3
      my-4
      border-top
    "
  >
    <div class="col-md-4 d-flex align-items-center">
      <a
        href="/"
        class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"
      >
        <img src="assets/icon.png" alt="Ícone" />
      </a>
      <span class="text-muted"
        >&copy; 2021 Recife Outlet. Todos os direitos reservados.</span
      >
    </div>
    <div class="pt-3">
      <p class="text-center">
        <small
          >Desenvolvido artesnalmente pela
          <a
            href="https://cafeinadesign.github.io/"
            target="_blank"
            rel="noopener noreferrer"
            class="link-secondary"
            >
            <img src="assets/logo-escura.svg" alt="Logo Cafeína Design" width="16" style="margin-top: -4px">
            Cafeína Design</a
          ></small
        >
      </p>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a routerLink="/pet-friendly" class="pet me-3">
          <i class="fas fa-paw"></i> Pet Friendly
        </a>
      </li>
      <li class="ms-3">
        <a class="text-muted" href="https://www.facebook.com/RecifeOutletPE"
          ><i class="fab fa-facebook"></i
        ></a>
      </li>
      <li class="ms-3">
        <a
          class="text-muted"
          href="https://www.youtube.com/channel/UC_K6QkcILSh8dy8GMeWPSjA"
          ><i class="fab fa-youtube"></i
        ></a>
      </li>
      <li class="ms-3">
        <a class="text-muted" href="https://www.instagram.com/p/CJlOMMCBo7F/"
          ><i class="fab fa-instagram"></i
        ></a>
      </li>
    </ul>
  </footer>
</div>
