<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/logo.png" alt="" width="50%" height="50%">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <a class="navbar-brand" href="#">
        <img src="assets/logo.png" alt="" width="99" height="105">
      </a>
      <p class="ms-md-3 mt-3 mt-md-5 me-auto" style="color: #7A7A7A">
        AQUI O DESCONTO NUNCA <br>SAI DE MODA
      </p>
      <ul class="navbar-nav d-flex mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">LOJAS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PRIVILEGE CLUB</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SOBRE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONTATO</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main>
  <img src="assets/banner_site_pet-min-scaled.jpg" class="img-fluid" alt="Grandes marcas com descontos o ano inteiro">
</main>