<section class="py-5">
  <div class="container">
    <h1 class="mat-display-1" style="color: #ffdc04">Pet Friendly</h1>
    <h2 class="mat-h2">
      O Recife Outlet recebe você e seu pet com o maior prazer e para que esse
      momento seja com toda segurança, confira algumas regrinhas.
    </h2>
    <ul>
      <li>
        O acesso de cães é permitido no Recife Outlet, no entanto, para manter a
        segurança e conforto de todos, são permitidas apenas raças de pequeno e
        médio porte, com no máximo 60 cm de altura e/ou pesando até 25kg, exceto
        as raças Golden Retriever, Labrador e Old English Sheepdog – que
        independente de peso ou altura podem ter acesso ao Outlet.
      </li>
      <li>
        Os danos e sujeiras causados pelos pets são de responsabilidade do seu
        dono. Caso seu bichinho faça necessidades fisiológicas em espaços
        internos ou externos do Outlet, inclusive na área do estacionamento,
        disponibilizamos sacos coletores distribuídos pelo mal. O recolhimento
        através dos sacos coletores é obrigatório. Feche-o e deposite-o em uma
        das lixeiras disponíveis nos nossos corredores. E no caso de xixi,
        dirija-se a um dos nossos colaboradores e solicite que ele acione a
        equipe de limpeza.
      </li>
      <li>
        Os cães deverão estar sempre com coleira/guia, em bolsas de transporte
        ou alocados em Carrinhos Pet.
      </li>
      <li>
        Mantenha seu cão na coleira com guia empunhada por um adolescente ou
        adulto;
      </li>
      <li>
        A circulação de Pets é permitida nos corredores, estacionamento e lojas.
        Está a critério de cada loja permitir ou não a entrada de Pets no seu
        interior.
      </li>
      <li>
        Em respeito às normas da Vigilância Sanitária, os Pets não são
        permitidos nas praças de alimentação, restaurantes, bancos, farmácias,
        fraldários e sanitários, exceto os cães-guias que poderão acessar
        livremente esses locais, conforme Lei Federal nº 11.126 de 27 de junho
        de 2005.
      </li>
      <li>
        Por motivos de segurança e tranquilidade a todos os clientes, não são
        permitidas no Outlet cães de guarda ou caça, como: Rottweiller, Pitbull,
        American Staffordshire, Dobberman, Pastor Alemão, Dogo Argentino,
        Mastiffs, Fila e similares, mesmo que estejam utilizando focinheira.
      </li>
      <li>
        Não é permitido que os Pets fiquem em cima de cadeiras ou bancos
        existentes nas áreas comuns do mal.
      </li>
      <li>
        Lembramos que todos os Pets deverão estar vacinados e saudáveis. O
        Recife Outlet poderá solicitar a carteirinha de vacinação para
        conferência.
      </li>
      <li>
        Em caso de mau comportamento, briga ou indisposição entre os Pets, ou
        ainda, caso alguma norma acima não seja atendida, reservamo-nos o
        direito de solicitar a retirada do animal e dos respectivos responsáveis
        do empreendimento.
      </li>
      <li>
        Contamos com sua colaboração para que os Pets não façam barulho ou
        emissão de som que possa incomodar alguém, mantendo a ordem,
        tranquilidade e o bom relacionamento entre os Pets e clientes no espaço
        do Outlet.
      </li>
      <li>
        Ao acessar o Outlet o tutor fica ciente da responsabilidade pelos atos
        do animal. Se houver dano a outros pets, pessoas o responsável deverá
        cumprir o devido ressarcimento.
      </li>
    </ul>
    <p>
      Aproveite esse maravilhoso passeio no Recife Outlet juntinho do seu Pet.
    </p>
  </div>
</section>
