<h2 class="ms-4 mt-3 mb-0">Contato</h2>
<mat-list>
  <a mat-list-item href="https://goo.gl/maps/bUkEw44NosvrPn2DA">
    <mat-icon mat-list-icon>location_on</mat-icon>
    <div mat-line>Recife Outlet</div>
    <div mat-line>
      Rodovia Luiz Gonzaga, BR-232, Km 20, Moreno - PE, 54800-000
    </div>
  </a>
  <a mat-list-item href="tel:8130400613">
    <mat-icon mat-list-icon>phone</mat-icon>
    <div mat-line>Telefone</div>
    <div mat-line>81 3040 0613</div>
  </a>
  <a mat-list-item href="mailto:contato@recifeoutlet.com.br">
    <mat-icon mat-list-icon>mail</mat-icon>
    <div mat-line>e-Mail</div>
    <div mat-line>contato@recifeoutlet.com.br</div>
  </a>
</mat-list>
