.mat-stroked-button {
  border-color: white !important;
}
img.swiper-slide-image {
  display: block;
  margin: 0 auto;
}
#noticias {
  background-image: url(../../assets/bg-slide-marca.png);
  background-size: cover;
  * {
    color: white;
  }
}
#contato {
  background-color: #133149;
  * {
    color: #ffbd00;
  }
}
