.mapplic-list-location > a {
  background-color: #fff;
  border-left: 3px solid transparent;
  display: block;
  font-size: 14px;
  padding: 10px 20px 20px 18px;
  text-decoration: none;
  transition: border, background-color 0.1s;
  h4 {
    color: #002c46;
  }
}
.mapplic-list-location > a:hover {
  background-color: whitesmoke;
  text-decoration: none;
  h4 {
    color: black;
  }
}
.mapplic-list-location.active > a {
  background-color: #fff;
  border-left-color: #ffdc04;
  h4 {
    color: #002c46;
  }
}
.mapplic-thumbnail-placeholder {
  background-color: #eee;
  box-sizing: border-box;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  padding: 8px 4px;
  width: 50px;
  height: 50px;
  text-align: center;
}
.elementor img {
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
}
.mapplic-thumbnail {
  box-shadow: none !important;
  margin-right: 10px;
  float: left;
  width: 50px;
  object-fit: cover;
}
.mapplic-list {
  list-style: none;
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
  overflow-y: auto;
  height: 100%;
}
.mapplic-list-location h4 {
  color: #2f3435;
}
.st4 {
  // fill: #9d9d9d;
  stroke: #ffffff;
  stroke-miterlimit: 10;
}
.st4:hover,
#Empadinha_Barnabe {
  cursor: pointer;
}
